.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  top: auto;
  bottom: 26px;
  right: 20px;
  width: 15px;
  height: 15px;
  color: #ffffffb0;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* 호버 효과 - 왼쪽 화살표는 왼쪽으로 이동 */
.custom-swiper .swiper-button-prev:hover {
  transform: translateX(-5px);
  color: #ffffff;
}

/* 호버 효과 - 오른쪽 화살표는 오른쪽으로 이동 */
.custom-swiper .swiper-button-next:hover {
  transform: translateX(5px);
  color: #ffffff;
}

/* 화살표 앞뒤로 선 추가 */
.custom-swiper .swiper-button-prev::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px; /* 선의 길이 */
  height: 1px; /* 선의 두께 */
  background: #ffffffb0;
  margin-left: 11px; /* 화살표와의 간격 */
}

.custom-swiper .swiper-button-next::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px; /* 선의 길이 */
  height: 1px; /* 선의 두께 */
  background: #ffffffb0;
  margin-right: 12px; /* 화살표와의 간격 */
}

/* 호버 시 선 효과 */
.custom-swiper .swiper-button-prev:hover::before,
.custom-swiper .swiper-button-next:hover::before {
  background: #ffffff;
}

.custom-swiper .swiper-button-prev {
  left: calc(50% - 60px);
  right: auto;
}

.custom-swiper .swiper-button-next {
  right: calc(50% - 60px);
  left: auto;
}

.custom-swiper .swiper-pagination-fraction {
  bottom: 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
}

.custom-swiper .swiper-button-prev:after,
.custom-swiper .swiper-button-next:after {
  font-size: 20px;
}
