.solution-body {
  margin: 0;
  padding: 50px 160px;
}

@media (min-width: 0px) {
  .solution-body {
    padding: 20px 20px;
  }
}

@media (min-width: 640px) {
  .solution-body {
    padding: 20px 20px;
  }
}

@media (min-width: 1200px) {
  .solution-body {
    padding: 50px 8%;
    margin: 0;
  }
}
