body {
  margin: 0;
  padding: 0;
  font-family: "Freesentation-4-Regular", sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Freesentation-1-Thin";
  src: url("/fonts/Freesentation-1Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation-2-ExtraLight";
  src: url("/fonts/Freesentation-2ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation-3-Light";
  src: url("/fonts/Freesentation-3Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation-4-Regular";
  src: url("/fonts/Freesentation-4Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation-5-Medium";
  src: url("/fonts/Freesentation-5Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation-6-SemiBold";
  src: url("/fonts/Freesentation-6SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation-7-Bold";
  src: url("/fonts/Freesentation-7Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation-8-ExtraBold";
  src: url("/fonts/Freesentation-8ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation-9-Black";
  src: url("/fonts/Freesentation-9Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
