body {
  margin: 0;
  padding: 0;
}

.hide-scrollbar {
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Freesentation-1-Thin";
  src: url("/fonts/Freesentation-1Thin.ttf") format("truetype");
  font-weight: "100";
  font-style: normal;
}

@font-face {
  font-family: "Freesentation-2-ExtraLight";
  src: url("/fonts/Freesentation-2ExtraLight.ttf") format("truetype");
  font-weight: "200";
  font-style: normal;
}

@font-face {
  font-family: "Freesentation-3-Light";
  src: url("/fonts/Freesentation-3Light.ttf") format("truetype");
  font-weight: "300";
  font-style: normal;
}

@font-face {
  font-family: "Freesentation-4-Regular";
  src: url("/fonts/Freesentation-4Regular.ttf") format("truetype");
  font-weight: "400";
  font-style: normal;
}

@font-face {
  font-family: "Freesentation-5-Medium";
  src: url("/fonts/Freesentation-5Medium.ttf") format("truetype");
  font-weight: "500";
  font-style: normal;
}

@font-face {
  font-family: "Freesentation-6-SemiBold";
  src: url("/fonts/Freesentation-6SemiBold.ttf") format("truetype");
  font-weight: "600";
  font-style: normal;
}

@font-face {
  font-family: "Freesentation-7-Bold";
  src: url("/fonts/Freesentation-7Bold.ttf") format("truetype");
  font-weight: "700";
  font-style: normal;
}

@font-face {
  font-family: "Freesentation-8-ExtraBold";
  src: url("/fonts/Freesentation-8ExtraBold.ttf") format("truetype");
  font-weight: "800";
  font-style: normal;
}

@font-face {
  font-family: "Freesentation-9-Black";
  src: url("/fonts/Freesentation-9Black.ttf") format("truetype");
  font-weight: "900";
  font-style: normal;
}
